.edit-profile {
  min-height: 250px;
}

.merchantDescription {
  display: block;
  width: 500px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.PhoneInput {
  margin-left: 33.3333%;
}

#field-wrapper {
  border: #2C3E50 solid 3px;
}

@media screen and (max-width: 991px) {
  .PhoneInput {
    margin-left: 25%;
  }
}

@media screen and (max-width: 767px) {
  .PhoneInput {
    margin-left: 15%;
  }
}