.App {
  text-align: center;
}

body {
  background-color: silver;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.imageDiv {
  height: 80px;
  width: 120px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12%;
}

.productListBody {
  min-height: 250px;
}

.mainContainer {
  border: 6px;
  border-width: 100%;
  border-color: rgb(30, 30, 97); 
  border-style: solid;
  border-radius: 30px 30px 30px 30px;
  box-shadow: 0 0 15px 2px;
  background-color: white;
  min-height: 350px;
  padding: 30px;
}

.hidden {
  display: none;
}