.App {
  text-align: center;
}

body {
  background-color: #919696dc;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: black;
}

a:hover {
  color: rgba(20, 20, 94, 0.816);
}

a.login, a.signup, a.item {
  color: rgba(55, 202, 144, 0.973);
}

.imageDiv {
  height: 80px;
  width: 120px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12%;
}

.productListBody, .cartListBody, .wishlistBody, .SellingListBody {
  min-height: 250px;
}

.mainContainer {
  border: 4px;
  border-width: 100%;
  border-color: rgb(30, 30, 97); 
  border-style: solid;
  box-shadow: 0 0 15px 2px;
  background-color: white;
  min-height: 500px;
  padding: 30px;
  white-space: pre-wrap;
}

.hidden {
  display: none;
}

.editProfileOpt, .merchantCard, .reviewCard {
  border-bottom: 1px solid rgba(0,0,0,0.125)
}

pre {
  white-space: pre-wrap;
  overflow: hidden;
}

.productDescription, .merchantDescription, p.description {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.mainCard {
  border: 4px solid black;
}

@media screen and (max-width: 991px) {
  .cartListBodyMiddle {
      margin-top: 100px;
  }
}

@media screen and (max-width: 767px) {
  .wishlistBody, .SellingListBody {
      margin-top: 100px;
  }
}

@media screen and (max-width: 575px) {
  .productListBody {
      margin-top: 100px;
  }
}