.footer {
  background-color: rgb(30, 30, 97);
  text-align: center;
  padding: 5px;
  border-radius: 25px 25px 25px 25px;
  box-shadow: 0 0 15px 4px;
  margin: 2%;
}

.footer p, a, a:hover {
  color: white;
}