.navbar {
  background-color: rgb(30, 30, 97);
  text-align: center;
  border-radius: 25px 25px 25px 25px;
  box-shadow: 0 0 15px 4px;
  margin: 2%;
  margin-top: 20px;
}

.nav-item {
  padding: 5px;
  border-radius: 30px 30px 30px 30px;
  transition-duration: 1s;
}

.nav-item {
  padding: 5px;
  color: white;
}

.nav-link, .navbar-brand {
  font-size: 20px;
  color: white;
  border-radius: 3px;
}